@font-face {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 400;
    src: url('C:\Users\cante\Desktop\Ramen_Stadium_Cantero_Shimizu_Mario\ramen_stadium\public\fonts\Kanit\Kanit-Black.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 700;
    src: url('C:\Users\cante\Desktop\Ramen_Stadium_Cantero_Shimizu_Mario\ramen_stadium\public\fonts\Kanit\Kanit-Bold.ttf') format('truetype');
  }