#navBar {
    font-family: 'Kanit', sans-serif; 
    color:black;
  }
.nav-link {
    color: black;
}
#title{
  font-size: 200%;
  font-family: 'Kanit', 'Lucida Sans Regular'; 
}
#navBarBackground{
    background-image: url("./../../assets/images/backgroundImage.png");
}
.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.ReactModal__Content {
  background: none;
  border: none;
  outline: none;
}
#navBarPointer{
  cursor: pointer;
}
#registerPointer{
  cursor: pointer;
}
.link-opacity-75-hover {
  &:hover {
    opacity: 0.75;
  }
}

